# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
# pipenv
Pipfile.lock
# mypy
.mypy_cache/
# Pytest
.cache/
# IDEs
.idea/
.vscode/
# macOS
.DS_Store
# Windows
Thumbs.db
# Logs
*.log
# Coverage
.coverage
coverage.xml
*.coveragerc
# Selenium WebDriver binary files (e.g., chromedriver, geckodriver)
chromedriver
geckodriver